@import './variables';

.btn {
	display: inline-block;
	text-align: center;
	padding: 10px 20px;
	border: none;
	outline: none;
	border-radius: 5px;
	background-color: $color-primary;
	color: $color-white;
	font-weight: 600;
	font-size: 18px;
	cursor: pointer;
	user-select: none;

	transition: all 0.1s ease-in-out;

	&:hover {
		background-color: lighten($color: $color-primary, $amount: 5);
	}
	&:active {
		background-color: darken($color: $color-primary, $amount: 5);
	}
}

.btn.btn-secondary {
	border: 2px solid $color-white;
	background-color: $color-white;
	color: $color-primary;

	&:hover {
		color: $color-white;
		background-color: transparent;
	}
}
