@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css');
@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');

@import './variables';
@import './buttons';
@import './form';
@import './swiper';

* {
	box-sizing: border-box;
	color: $color-text;
	font-family: 'Source Sans Pro', sans-serif;
	padding: 0;
	margin: 0;
}

body {
	padding: 0;
	margin: 0;
}

html,
body {
	scroll-behavior: smooth;
	// overflow-x: hidden;
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
}

.cont {
	max-width: 1000px;
	height: 100%;
	margin: 0 auto;
	padding: 0 10px;
}

main {
	flex: 1 1 100%;
}
footer {
	height: 100px;
	color: $color-white;
	background: rgb(16, 30, 161);
}
section {
	padding: 20px 0;
	// overflow-x: hidden;
}
article {
	padding: 20px 0;
}
ul {
	list-style: none;
}
a {
	color: inherit;
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.5;
	text-align: center;
}
h1 {
	font-size: 32px;
	margin-bottom: 10px;
}
h2 {
	font-size: 28px;
	margin-bottom: 10px;
}
h3 {
	font-size: 24px;
	margin-bottom: 6px;
}
h4 {
	font-size: 20px;
	margin-bottom: 6px;
}
h5 {
	font-size: 18px;
	margin-bottom: 6px;
}
p,
a,
li {
	line-height: 1.5;
}

// ---------------------
// HEADER
// ---------------------
.header {
	position: sticky;
	top: 0;
	width: 100%;
	background-color: #fff;
	z-index: 999;
	// box-shadow: 0 3px 15px rgba(32, 33, 44, 0.15);
	border-bottom: 1px solid rgb(219, 219, 219);

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		gap: 20px;
		padding: 10px 10px;
	}
}

.logo {
	padding: 0 10px;
	font-size: 30px;
	font-weight: 900;
	line-height: 1;
	display: flex;
	align-items: center;
	gap: 15px;
	letter-spacing: 1px;

	&:hover,
	&:hover i {
		color: $color-primary;
	}
}

.menu {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	li {
		transition: all 0.1s ease-in-out;
		color: $color-text;
	}
	li.active {
		color: $color-primary;
	}
	li:hover {
		background-color: #eee;
		border-radius: 10px;
	}
	a {
		display: inline-block;
		padding: 10px 15px;
		font-size: 18px;
		font-weight: 600;
		text-decoration: none;
		color: inherit;
		white-space: nowrap;
	}
}

// ---------------------
// MAIN
// ---------------------

// экран 1
#main {
	min-height: 90.5vh;
	padding: 70px 0;
	background-color: rgb(196, 232, 248);

	@include gradient-blue;
}

.hello {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 40px;
	position: relative;
	z-index: 2;
	&-text {
		display: flex;
		flex-direction: column;
		align-items: center;

		flex: 0 1 50%;
		gap: 20px;
		z-index: 3;
		&__title {
		}
		&__desc {
			padding: 10px 10px;
		}

		&__btns {
			padding: 10px 10px;
			display: flex;
			flex-wrap: wrap;
			gap: 20px;
			align-items: center;
		}
	}

	&-icons {
		position: relative;
		// background-color: rgb(134, 131, 131);
		flex: 1 1 50%;
		user-select: none;

		&__circle {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			z-index: 1;

			&-1 {
				width: 450px;
				height: 450px;
				background-color: rgba(34, 136, 204, 0.3);
				@include circle;
			}
			&-2 {
				width: 350px;
				height: 350px;
				background-color: rgba(34, 136, 204, 0.4);
				@include circle;
			}
			&-3 {
				width: 250px;
				height: 250px;
				background-color: rgba(34, 136, 204, 0.6);
				@include circle;
			}

			// ---------------
			// icons in circle
			.hello_icons__icon {
				position: absolute;
				top: 50%;
				left: 50%;
				width: 60%;
				height: auto;
				// transition: all 0.01s;
				transform: translate(-50%, -50%);
			}
			.hello_icons__book {
				top: 40%;
				left: 70%;
			}
			.hello_icons__ruler {
				width: 50%;
				top: 40%;
				left: 20%;
			}
			.hello_icons__pencil {
				width: 40%;
				top: 70%;
				left: 50%;
			}
		}
	}
}

// экран 2
section#about {
	background-color: rgb(255, 255, 255);
}
.achievements {
	&__list {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		gap: 30px;
		padding: 15px 0;
	}

	&__block {
		display: flex;
		flex: 0 0 300px;
		flex-direction: column;
		text-align: center;
		gap: 30px;
		padding: 40px 20px;
		border-radius: 20px;
		@include gradient-blue;

		transition: all 0.1s ease-in;

		&:hover {
			transform: scale(1.05);
			box-shadow: 0 3px 9px rgba(34, 136, 204, 0.6);
		}
		&:hover .achievements__circle {
			transform: scale(1.15) translateY(-10px);
			i {
				transform: scale(1.2);
			}
		}
	}
	&__top {
		align-self: center;
	}
	&__circle {
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		width: 80px;
		height: 80px;
		transition: all 0.2s ease-out;
		@include glass;

		i {
			color: $color-white;
			font-size: 24px;
			transition: all 0.25s ease-out;
		}
	}
}

// экран x3
section#contact {
	background-color: rgb(255, 255, 255);
}

.contacts {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap-reverse;
	gap: 30px 60px;

	&__info {
		flex: 1 1 30%;
		display: flex;
		flex-direction: column;
		justify-content: flex-star;
		gap: 15px;

		ul {
			display: flex;
			flex-direction: column;
			gap: 10px;

			li a {
				font-size: 18px;
				display: flex;
				align-items: center;
				gap: 10px;

				&:hover {
					color: $color-primary;
				}

				i {
					color: $color-primary;
				}
			}
		}
	}
}

.form {
	flex: 0 1 450px;
	min-width: 300px;
	// border: 3px solid $color-primary;
	box-shadow: 0px 3px 12px rgba(20, 20, 70, 0.25s);
	border: 1px solid #eee;
	padding: 50px 40px;
	border-radius: 20px;

	label {
		display: flex;
		flex-direction: column;
		gap: 5px;
		margin-bottom: 20px;

		span {
			font-size: 15px;

			padding-left: 5px;
		}
	}
	input,
	textarea {
		padding: 7px 15px;
		font-size: 16px;
		font-weight: 600;
		outline: none;
		resize: none;
		width: 100%;
		border-radius: 5px;
		border: 2px solid #bbb;
		&:focus {
			border-color: $color-primary;
		}
		&:invalid {
			border-color: rgb(224, 60, 31);
		}
		&:valid {
			border-color: $color-primary;
		}
	}
}

// ----------------------
// МЕТОДИЧКИ
// ----------------------

.content {
	visibility: hidden;
	display: none;
	overflow: hidden;
	opacity: 0;
	margin-top: -100%;
	transform: scale(0);
	transition: all 0.5s ease-in-out;

	&__link {
		font-size: 20px;
		font-weight: 600;
		padding: 5px;
		@include white-font;
		&:hover {
			text-decoration: underline;
		}
	}
}
.content.active {
	visibility: visible;
	overflow: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	padding: 10px;
	margin-top: 0%;
	opacity: 1;
	transform: scale(1);
	transition: all 0.5s ease-in-out;
}

// ///////////

// ----------------------
// ADAPTIVE
// ----------------------
@media (max-width: 800px) {
	.hello {
		flex-direction: column;
	}
	.header {
		&__row {
			padding-top: 10px;
			padding-bottom: 5px;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 10px;
		}
	}

	.menu {
		justify-content: center;
		gap: 5px;
		a {
			padding: 5px 12px;
			font-size: 16px;
			font-weight: 600;
		}
	}

	.logo {
		font-size: 22px;
		font-weight: 900;
		line-height: 1;
		display: flex;
		align-items: center;
		gap: 15px;
	}

	section {
		padding: 20px 0;
	}
}

@media (max-width: 800px) {
	.hello {
		h1 {
			font-size: 28px;
		}
		h2 {
			font-size: 32px;
		}
	}
}
